* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/ashPokemon.jpeg");
  background-size: cover;
}

.container {
  width: 30rem;
  height: 30rem;
  padding: 50px;
  background-color: rgba(245, 245, 220, 0.9);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", serif;
}
